.sudoku-board {
    display: grid;
    width: 300px;
    height: 300px;

    grid-template-columns: repeat(auto-fill, 11.11%);
    grid-template-rows: repeat(auto-fill, 11.11%);

}

.cell {
    border: solid 1px lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}